body {
	background-color: #ebebeb;
	width: 550px;
	margin: 0 auto;
	padding-top: 20px;
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-stretch:normal;
}

a {
	color: #2e9ec9;
}

h1 {
	font-size: 40px;
	color: #444444;
	text-shadow: 1px 1px 0px white;
}

h2 {
	font-weight: normal;
	font-size: 27px;
	margin-top: 30px;
	margin-bottom: -10px;
}

.intro {
	text-align: justify;
}

.services {
	width: 550px;
	margin-top: 30px;
}

.services li {
	float: left;
	width: 270px;
	margin-bottom: 20px;
}

.types {
	font-weight: normal;
	margin-bottom: 15px;
}

.types li {
	margin-bottom: 0px;
}

blockquote {
	margin-bottom: 20px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 10px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 13px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

blockquote a {
	color: #4D4D4D;
	font-weight: bold;
	text-decoration: none;
}

blockquote a b {
	color: #247B9E;
}

.notation {
	font-family: 'Courier New';
	font-weight: bold;
}

.status {
	background-color: #F7F7F7;
	width: 550px;
	border-collapse: collapse;
}
.status th {
	background-color: #EBEBEB;
}
.status td {
	border: 1px grey dashed;
	padding: 0.2em;
}

.green {
	color: #008000;
}
.red {
	color: #CC0000;
}
