[database]
host: 
databasename: 
username: 
password: 

[logging]
# log levels: NOTSET (0), DEBUG (10), INFO (20), WARNING (30; default), ERROR (40), CRITICAL(50)
level:10
filename:
format:%(asctime)s %(levelname)-8s %(message)s
datefmt:%Y.%m.%d %H:%M:%S

[accounts]
twitter:twit1,twit2
github:gh1
facebook:fb1
youtube:yt1
mediawiki:mw1
soup:s1
mailman:mm1

[schedule]
# Schedule update requests
# year month day week day_of_week hour minute
github: * * * * * * */15
facebook: * * * * * * */15
youtube: * * * * * * */15
mediawiki: * * * * * * */5
soup: * * * * * * */15
twitter: * * * * * * */10
mailman: * * * * * * */5
api: * * * * * * */2

[twitter_twit1]
# (create an app on http://dev.twitter.com/)
consumerKey: 
consumerSecret: 
accessToken: 
accessTokenSecret: 

[twitter_twit2]
consumerKey: 
consumerSecret: 
accessToken: 
accessTokenSecret: 

[github_gh1]
# Provide name of your organziation, a user who is member of it and the user token.
# Switch to organization context, click on "News Feed" and copy the token:
# https://github.com/organizations/hickerspace/basti2342.private.atom?token=THIS_IS_THE_TOKEN
organization: 
user: 
token: 

[facebook_fb1]
# Get link of logo and copy the ID:
# http://www.facebook.com/photo.php?fbid=148687508557226&set=a.148684541890856.33197.THIS_IS_THE_ID&type=1&source=11
id: 

[youtube_yt1]
# Provide your account name
user: 

[mediawiki_mw1]
# Provide the Recent Changes atom feed.
feedurl: 

[soup_s1]
# Go to http://www.soup.io/notifications, click on "RSS-Feed" an copy the token:
# http://www.soup.io/notifications/THIS_IS_THE_TOKEN.rss
user: 
token: 

[mailman_mm1]
# Provide list names and url to webinterface (without list names etc)
# In case of protected archives enter credentials of a subscribed user (must be subscribed on all lists)
# (E.g. create a new user and disable mail delivery)
lists:  ; use comma seperation for several items
weburl: 
loginMailAddress: 
loginPassword: 
